* {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #F5F5F5;
  font-family: 'Montserrat';
  overflow: hidden;
}

.input {
  height: 56px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #262B41;
  border-radius: 4px;
  padding: 0 24px;
  color: #262B41;
  font-size: 28px;
  font-family: 'Montserrat';
  margin-bottom: 28px;
}

.input-wrapp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-wrapp > p {
  position: absolute;
  color: #262B41;
  font-size: 24px;
  font-family: 'Montserrat';
  top: 27.5px;
  left: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.input-wrapp .active {
  top: -28px;
}

.button {
  height: 56px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #262B41;
  border-radius: 4px;
  padding: 0 24px;
  color: #262B41;
  font-size: 28px;
  font-family: 'Montserrat';
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: grid;
  place-items: center;
  margin-bottom: 24px;
}

.button:hover {
  background: #262B41;
  color: #F5F5F5;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapp {
  width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.list-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.list .item {
  height: 90px;
  margin: 5px;
  width: 115px;
  background: #d1bcbc;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 12px;
}

.list .item span {
  font-size: 24px;
}

.list .item:first-child {
  width: 365px;
}

.summtext {
  font-size: 22px;
  margin-top: 16px;
  cursor: pointer;
}

.copytext {
  position: absolute;
  top: -999999px;
}

.disabled {
  display: none;
}

@media (min-width: 500px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    background-clip: content-box;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-button {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 500px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 95vw;
    width: 95vw;
  }

  .list .item {
    height: calc((95vw / 5) - 2px * 2);
    margin: 2px;
    width: calc((95vw / 4) - 2px * 2);
  }

  .list .item span {
    font-size: 24px;
  }

  .list .item > p {
    width: calc((95vw / 4) - 2px * 2);
    padding: 0 5px;
    text-align: center;
    font-size: 10px;
  }

  .list .item:first-child {
    width: calc((95vw / 4 * 3) - 2px * 2);
  }

  .list .item:first-child p {
    width: calc((95vw / 4 * 3) - 2px * 2);
    word-break: break-all;
    padding: 0 10px;
    text-align: center;
  }

  .main .wrapp {
    width: 100vw;
    height: 100vh;
  }

  .summtext {
    padding: 0 24px;
    font-size: 18px;
  }

  .input {
    height: 56px;
    padding: 0 48px;
    font-size: 18px;
    margin-bottom: 28px;
  }

  .button {
    height: 56px;
    padding: 0 24px;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .input-wrapp > p {
    font-size: 18px;
    top: 27.5px;
    left: 24px;
  }

  .input-wrapp .active {
    top: -28px;
  }
}